@import '~bootstrap/scss/bootstrap';

.order-item-container {
	@extend .row, .align-items-center;
}

.title-container {
	@extend .col-8, .col-lg-9, .d-flex, .flex-wrap, .align-items-center;
}

.unit-price {
	@extend .ml-auto;
}

.title {
	font-size: 1.25rem;
	font-weight: 500;
}

.quantity-total {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: right;
	white-space: nowrap;
}

.quantity {
	@extend .col-1, .quantity-total;
}

.total {
	@extend .col-3, .col-lg-2, .quantity-total;
}
