@import '~bootstrap/scss/bootstrap';

.order-item-container {
	@extend .row, .align-items-sm-center;
}

.title-description {
	@extend .col-7, .order-1, .col-sm-6, .col-md-8;
}

.title {
	font-size: 1.1rem;
	font-weight: 500;
}

.quantity-total {
	font-weight: 500;
	text-align: right;
	white-space: nowrap;
}

.total {
	@extend .col-5, .order-2, .col-sm-3, .order-sm-4, .col-md-2, .quantity-total;
	font-size: 1.1rem;
}

.unit-price {
	@extend .col-8,
		.order-3,
		.col-sm-2,
		.order-sm-2,
		.col-md-1,
		.text-left,
		.text-sm-right;
	white-space: nowrap;
}

.quantity {
	@extend .col-4, .order-4, .col-sm-1, .order-sm-3, .quantity-total;
	font-size: 1rem;
}

@include media-breakpoint-up(sm) {
	.title {
		font-size: 1.25rem;
	}
	.total {
		font-size: 1.25rem;
	}
	.quantity {
		font-size: 1.25rem;
	}
}
