<app-add-item-search
	#search
	placeholder="Search menu"
	[items]="searchItems"
	[searchStrategies]="searchStrategies"
	(itemSelect)="onSelect($event, search.quantity)"
>
	<ng-template class="search-item-template" let-item>
		<div class="title">
			<div class="name" [innerHTML]="item.formattedText"></div>
			<div class="description">{{ item.model.description }}</div>
		</div>
		<div class="price">
			{{ item.model.price | currency: 'PH':'P ':'1.2-2' }}
		</div>
	</ng-template>
</app-add-item-search>
