@import '~bootstrap/scss/bootstrap';

.order-container {
	@extend .card, .border-success, .mb-2;
}

.order-container.has-focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.focus-container {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.focus {
	opacity: 0px;
	width: 0px;
	height: 0px;
}

.header {
	@extend .card-header,
		.d-flex,
		.flex-nowrap,
		.align-items-center,
		.text-success;
	font-size: 0.9rem;
}

.title {
	@extend .mr-2;
}

.can-hide {
	display: none;
}

.item-count {
	@extend .text-nowrap;
	font-weight: 500;
}

.total-label {
	font-size: 0.8rem;
}

.total-container {
	@extend .ml-auto, .text-nowrap;
}

.total-container div {
	display: inline-block;
}

.total {
	font-size: 1.25rem;
	font-weight: 500;
}

.list {
	@extend .list-group, .list-group-flush;
}

fa-icon {
	@extend .text-info;
	opacity: 0.3;
}

.order-empty {
	@extend .list-group-item, .text-muted;
	font-weight: 500;
}

.item {
	@extend .list-group-item, .list-group-item-action;
	cursor: pointer;
}

@include media-breakpoint-up(sm) {
	.header {
		font-size: 1rem;
	}
	.total {
		font-size: 1.5rem;
	}
	.can-hide {
		display: unset;
	}
}

.selected {
	@extend .list-group-item-success;
}
