<div class="order-container">
	<div class="header">
		<span [class.can-hide]="order?.count > 0">
			{{ title }}
		</span>
		<span [class.can-hide]="order.count > 0" *ngIf="order?.count > 0"
			>&nbsp;-&nbsp;</span
		>
		<span class="item-count" *ngIf="order?.count == 1"
			>{{ order?.count }} Item</span
		>
		<span class="item-count" *ngIf="order?.count > 1"
			>{{ order?.count }} Items</span
		>
		<div class="total-container">
			<div class="total-label">Total:&nbsp;</div>
			<div class="total">
				{{ order?.total | currency: 'PH':'P ':'1.2-2' }}
			</div>
		</div>
	</div>
	<div class="list">
		<div class="order-empty" *ngIf="order?.count === 0">
			<fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
			{{ randomInfo }}
		</div>
		<app-order-item
			class="item"
			[class.selected]="i === selectedIndex"
			*ngFor="let item of order?.items; let i = index"
			[item]="item"
		></app-order-item>
	</div>
</div>
