<div class="payment-container">
	<div class="total-container">
		<div class="label">Total</div>
		<div class="value">
			{{ payment.total | php }}
		</div>
	</div>
	<div class="discount-container">
		<div class="label">Discount</div>
		<div class="value">
			<input
				class="discount"
				appSelectOnFocus="delay-always"
				[(ngModel)]="discount"
				(focus)="formatDiscountFromValue()"
				(focusout)="formatDiscount()"
			/>
		</div>
	</div>
	<div class="after-discount-container">
		<div class="label">After discount</div>
		<div class="value">
			{{ payment.afterDiscount | php }}
		</div>
	</div>
	<div
		class="cash-container"
		[ngClass]="{
			danger: !canPay,
			success: canPay
		}"
	>
		<div class="label">Cash</div>
		<div class="value">
			<input
				class="cash"
				appSelectOnFocus="delay-always"
				[ngClass]="{
					danger: !canPay,
					success: canPay
				}"
				[(ngModel)]="cash"
				(focus)="formatCashFromValue()"
				(focusout)="formatCash()"
			/>
		</div>
	</div>
	<div
		class="change-container"
		[ngClass]="{
			danger: !canPay,
			success: canPay
		}"
	>
		<div class="label">Change</div>
		<div class="value">
			{{ payment.change | php }}
		</div>
	</div>
</div>
<div class="checkout-container">
	<ng-container *ngIf="confirm">
		Sure?
		<button class="cancel" (click)="confirm = false">
			Cancel
		</button>
	</ng-container>
	<button
		class="checkout"
		[ngClass]="{
			'checkout-danger': !canPay,
			'checkout-success': canPay && !confirm,
			'checkout-primary': canPay && confirm
		}"
		[disabled]="!canPay ? true : null"
		(click)="checkout()"
	>
		Checkout
	</button>
</div>
