@import '~bootstrap/scss/bootstrap';

.payment-container {
	@extend .mt-3;
	padding: 0rem 1.25rem;
}

.danger {
	@extend .text-danger;
}

.success {
	@extend .text-success;
}

.item {
	@extend .row, .align-items-end, .justify-content-end, .mb-1;
	padding-bottom: 1px;
}

.total-container {
	@extend .item, .text-success;
}

.label {
	@extend .col, .text-right;
	padding-bottom: 1px;
}

.value {
	@extend .col-7, .col-sm-4, .col-md-3, .text-right, .text-nowrap;
	font-size: 1.25rem;
	font-weight: 500;
}

.discount-container {
	@extend .item, .text-info;
}

.input {
	@extend .text-right;
	width: 100%;
	font-size: 1.25rem;
	font-weight: 500;
	border: 0px;
	border-bottom: 1px solid;
	border-radius: 0px;
	padding: 0px;
	padding-bottom: 0px;
}

.discount {
	@extend .input, .text-info;
}

.discount:focus {
	outline: unset;
}

.after-discount-container {
	@extend .item, .text-info;
}

.cash-container {
	@extend .item;
}

.cash {
	@extend .input;
}

.cash:focus {
	outline: unset;
}

.change-container {
	@extend .item;
}

.checkout-container {
	@extend .mt-2, .float-right;
}

.checkout {
	@extend .btn, .m-3;
}

.checkout-danger {
	@extend .btn-danger;
}

.checkout-success {
	@extend .btn-success;
}
