<div class="payment-container">
	<div class="total-container">
		<div class="label">Total</div>
		<div class="value">
			{{ order.total | php }}
		</div>
	</div>
	<div class="discount-container">
		<div class="label">Discount</div>
		<div class="value">
			<input
				class="discount"
				appSelectOnFocus
				[(ngModel)]="discount"
				(focus)="formatDiscountToValue()"
				(focusout)="formatDiscount()"
			/>
		</div>
	</div>
	<div class="after-discount-container">
		<div class="label">After discount</div>
		<div class="value">
			{{ afterDiscount | php }}
		</div>
	</div>
	<div
		class="cash-container"
		[ngClass]="{
			danger: afterDiscount > cashValue,
			success: afterDiscount <= cashValue
		}"
	>
		<div class="label">Cash</div>
		<div class="value">
			<input
				appSelectOnFocus
				class="cash"
				[ngClass]="{
					danger: afterDiscount > cashValue,
					success: afterDiscount <= cashValue
				}"
				[(ngModel)]="cash"
				(focus)="formatCashToValue()"
				(focusout)="formatCash()"
			/>
		</div>
	</div>
	<div
		class="change-container"
		[ngClass]="{
			danger: afterDiscount > cashValue,
			success: afterDiscount <= cashValue
		}"
	>
		<div class="label">Change</div>
		<div class="value">
			{{ change | php }}
		</div>
	</div>
</div>
<div class="checkout-container">
	<button
		class="checkout"
		[ngClass]="{
			'checkout-danger': afterDiscount > cashValue,
			'checkout-success': afterDiscount <= cashValue
		}"
		[disabled]="afterDiscount > cashValue ? true : null"
	>
		Checkout
	</button>
</div>
