<ng-template #content>
	<div class="modal-header text-success">
		<h4 class="modal-title">{{ item.name }}</h4>
		<h4 class="modal-title">
			<span class="total-label">Total:&nbsp;</span
			>{{ total | currency: 'PH':'P ':'1.2-2' }}
		</h4>
	</div>
	<div class="modal-body">
		<div class="d-flex flex-row">
			<div class="mr-auto">
				<div>
					<small>{{ item.description }}</small>
				</div>
				<div>
					<small>{{ item.price | currency: 'PH':'P ':'1.2-2' }}</small>
				</div>
			</div>
			<div style="width: 4em;">
				<input
					class="form-control"
					type="number"
					min="1"
					max="9999"
					style="text-align: right;"
					[(ngModel)]="quantity"
					(keydown.enter)="save()"
					onfocus="this.select();"
				/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger mr-auto" (click)="delete()">
			Delete
		</button>
		<button type="button" class="btn btn-secondary" (click)="cancel()">
			Cancel
		</button>
		<button type="button" class="btn btn-primary" (click)="save()">
			Save
		</button>
	</div>
</ng-template>
