<ng-template #content>
	<div class="header">
		<h4 class="title">{{ item.name }}</h4>
		<h4 class="total">
			<span class="total-label">Total:&nbsp;</span
			>{{ total | currency: 'PH':'P ':'1.2-2' }}
		</h4>
	</div>
	<div class="body">
		<div class="description">
			<div>
				{{ item.description }}
			</div>
			<div class="price">
				{{ item.price | currency: 'PH':'P ':'1.2-2' }}
			</div>
		</div>
		<app-number-input
			class="input"
			min="1"
			max="9999"
			[(value)]="quantity"
			(keydown.enter)="save()"
		></app-number-input>
	</div>
	<div class="modal-footer">
		<button type="button" class="delete" (click)="delete()">
			Delete
		</button>
		<button type="button" class="cancel" (click)="cancel()">
			Cancel
		</button>
		<button type="button" class="save" (click)="save()">
			Save
		</button>
	</div>
</ng-template>
