@import '~bootstrap/scss/bootstrap';

.search-container {
	width: 100%;
	margin: 10px 0px;
	height: 40px;
}

.search-container-absolute {
	position: absolute;
	z-index: 1000;
	width: calc(100% - 30px);
}

.search {
	@extend .form-control;
}

.list {
	@extend .list-group, .mt-2;
	z-index: 1000;
}

.item {
	@extend .list-group-item, .list-group-item-action;
	cursor: pointer;
}

.selected {
	@extend .list-group-item-primary;
}
