<div class="search-container">
	<div class="search-container-absolute">
		<input
			class="search"
			placeholder="{{ placeholder }}"
			#searchInput
			appAutoType
			(input)="search(searchInput.value)"
			(keydown.arrowdown)="onArrowDownKey()"
			(keydown.arrowup)="onArrowUpKey()"
			(keyup.enter)="onEnterKey()"
			(keyup.esc)="onEscKey($event)"
			autofocus
		/>
		<ul class="list">
			<li
				(click)="onItemClick(item)"
				class="item"
				[class.selected]="i == selectedIndex"
				*ngFor="let item of result; index as i"
			>
				<ng-container
					select=".search-item-template"
					*ngTemplateOutlet="
						searchItemTemplate;
						context: { $implicit: item }
					"
				>
				</ng-container>
			</li>
		</ul>
	</div>
</div>
