<div class="search-container">
	<div class="search-absolute">
		<div class="form-group">
			<input
				#searchInput
				appAutoType
				class="form-control"
				(input)="search(searchInput.value)"
				(keydown.arrowdown)="onArrowDownKey()"
				(keydown.arrowup)="onArrowUpKey()"
				(keyup.enter)="onEnterKey()"
				(keyup.esc)="onEscKey($event)"
				autofocus
			/>
		</div>
		<ul class="list-group">
			<li
				(click)="onItemClick(item)"
				class="list-group-item list-group-item-action"
				[class.list-group-item-primary]="i == selectedIndex"
				*ngFor="let item of result; index as i"
			>
				<ng-container
					select=".search-item"
					*ngTemplateOutlet="
						searchItemTemplate;
						context: { $implicit: item }
					"
				>
				</ng-container>
			</li>
		</ul>
	</div>
</div>
