/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.modal-open {
	.modal {
		overflow: hidden !important;
	}
}

.modal {
	&.show .modal-dialog {
		transition: all 0.25s ease-out;
		opacity: 0;
		transform: translate(0, -150px);
	}

	&.animate .modal-dialog {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.modal-backdrop {
	&.show {
		transition: all 0.25s linear;
		opacity: 0;
	}

	&.animate {
		opacity: 0.5;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
