@import '~bootstrap/scss/bootstrap';

.search-container {
	width: 100%;
	margin: 10px 0px;
	height: 40px;
}

.search-container-absolute {
	position: absolute;
	z-index: 1000;
	width: calc(100% - 30px);
}

.search .search-icon {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.search input {
	@extend .form-control;
	padding-left: 2.375rem;
	padding-right: 2.375rem;
}

.search .x-icon {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	color: #aaa;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

.search .x-icon:hover {
	@extend .text-danger;
}

.result {
	@extend .card, .shadow, .border-info, .mt-2, .mb-2;
	z-index: 1000;
}

.result-header {
	@extend .card-header, .text-info;
	padding: 0.5rem 1.25rem;
	font-size: 0.9rem;
	font-weight: 400;
}
.result-header strong {
	font-weight: 500;
}

.list {
	@extend .list-group, .list-group-flush;
}

.item {
	@extend .list-group-item, .list-group-item-action;
	cursor: pointer;
}

.selected {
	@extend .list-group-item-primary;
}
